<h3>Importamos las funciones y librerías necesarias</h3>

In [1]:
import pandas as pd
from funciones.tipifica_variables import tipifica_variables
from funciones.get_features_cat_regression import get_features_cat_regression

Cargo los dataframes para pruebas

In [2]:
df_titanic = pd.read_csv("./data/titanic.csv")
df_aviones = pd.read_excel("./data/dataset_aviones.xlsx")

In [3]:
df_result = tipifica_variables(df_titanic,2,2,show_cardinalidad=True)
df_result

   nombre_variable  cardinalidad      tipo_sugerido
0         survived          0.22         Categórica
1           pclass          0.34         Categórica
2              sex          0.22         Categórica
3              age          9.88  Numérica continua
4            sibsp          0.79         Categórica
5            parch          0.79         Categórica
6             fare         27.83  Numérica continua
7         embarked          0.34         Categórica
8            class          0.34         Categórica
9              who          0.34         Categórica
10      adult_male          0.22         Categórica
11            deck          0.79         Categórica
12     embark_town          0.34         Categórica
13           alive          0.22         Categórica
14           alone          0.22         Categórica

In [7]:
df_result = tipifica_variables(df_aviones,2,20,show_cardinalidad=True)
df_result

  nombre_variable  cardinalidad      tipo_sugerido
0      Aircompany          0.42         Categórica
1          Origen          0.92         Categórica
2         Destino          0.92         Categórica
3       Distancia          3.75  Numérica discreta
4           avion          0.33         Categórica
5      con_escala          0.17         Categórica
6      consumo_kg         70.42  Numérica continua
7        duracion          9.67  Numérica discreta
8        ingresos        100.00  Numérica continua
9        Id_vuelo         36.25  Numérica continua

In [8]:

print(type(df_aviones))

<class 'pandas.core.frame.DataFrame'>

In [5]:
get_features_cat_regression(df_titanic,"age")

['sex', 'adult_male', 'alone']

In [9]:
get_features_cat_regression(df_aviones,"consumo_kg")

['Aircompany', 'Origen', 'Destino', 'avion', 'con_escala', 'Id_vuelo']