<h3>Importamos las funciones y librerías necesarias</h3>

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from funciones import describe_df,tipifica_variables,get_features_num_regression,get_features_cat_regression

Cargo los dataframes para pruebas

In [2]:
df_titanic = pd.read_csv("./data/titanic.csv")
df_aviones = pd.read_excel("./data/dataset_aviones.xlsx")

<h4>1. Función describe_df</h4>

In [4]:
describe_titanic = describe_df(df_titanic)
print(describe_titanic)

                         survived  pclass       sex       age     sibsp  \
tipo                        int64   int64    object   float64     int64
porcentaje_nulos              0.0     0.0       0.0  19.86532       0.0
valores_unicos                  2       3         2        88         7
porcentaje_cardinalidad  0.224467  0.3367  0.224467  9.876543  0.785634

                            parch       fare  embarked   class     who  \
tipo                        int64    float64    object  object  object
porcentaje_nulos              0.0        0.0  0.224467     0.0     0.0
valores_unicos                  7        248         3       3       3
porcentaje_cardinalidad  0.785634  27.833895    0.3367  0.3367  0.3367

                        adult_male       deck embark_town     alive     alone
tipo                          bool     object      object    object      bool
porcentaje_nulos               0.0  77.216611    0.224467       0.0       0.0
valores_unicos                   2          7           3         2         2
porcentaje_cardinalidad   0.224467   0.785634      0.3367  0.224467  0.224467

In [3]:
describe_aviones = describe_df(df_aviones)
print(describe_aviones)

                        Aircompany    Origen   Destino Distancia     avion  \
tipo                        object    object    object     int64    object
porcentaje_nulos               0.0       0.0       0.0       0.0       0.0
valores_unicos                   5        11        11        45         4
porcentaje_cardinalidad   0.416667  0.916667  0.916667      3.75  0.333333

                        con_escala consumo_kg  duracion ingresos Id_vuelo
tipo                          bool    float64     int64  float64   object
porcentaje_nulos               0.0        0.0       0.0      0.0      0.0
valores_unicos                   2        845       116     1200      435
porcentaje_cardinalidad   0.166667  70.416667  9.666667    100.0    36.25

<h4>2. Función tipifica_variables</h4>

In [7]:
tipica_titanic = tipifica_variables(df_titanic,2,20,show_cardinalidad=True)
tipica_titanic

   nombre_variable  cardinalidad      tipo_sugerido
0         survived          0.22         Categórica
1           pclass          0.34         Categórica
2              sex          0.22         Categórica
3              age          9.88  Numérica discreta
4            sibsp          0.79         Categórica
5            parch          0.79         Categórica
6             fare         27.83  Numérica continua
7         embarked          0.34         Categórica
8            class          0.34         Categórica
9              who          0.34         Categórica
10      adult_male          0.22         Categórica
11            deck          0.79         Categórica
12     embark_town          0.34         Categórica
13           alive          0.22         Categórica
14           alone          0.22         Categórica

In [8]:
tipifica_aviones = tipifica_variables(df_aviones,2,20,show_cardinalidad=True)
tipifica_aviones

  nombre_variable  cardinalidad      tipo_sugerido
0      Aircompany          0.42         Categórica
1          Origen          0.92         Categórica
2         Destino          0.92         Categórica
3       Distancia          3.75  Numérica discreta
4           avion          0.33         Categórica
5      con_escala          0.17         Categórica
6      consumo_kg         70.42  Numérica continua
7        duracion          9.67  Numérica discreta
8        ingresos        100.00  Numérica continua
9        Id_vuelo         36.25  Numérica continua

<h4>3. Función get_features_num_regression</h4>

In [11]:
get_num_titanic = get_features_num_regression(df_titanic,"age")
print(get_num_titanic)

['survived', 'pclass', 'sibsp', 'parch', 'fare']

In [12]:
get_num_aviones = get_features_num_regression(df_aviones,"ingresos")
print(get_num_aviones)

['Distancia', 'consumo_kg', 'duracion']

<h4>4. Función get_features_cat_regression</h4>

In [9]:
get_cat_titanic =get_features_cat_regression(df_titanic,"age")
print(get_cat_titanic)

['sex', 'adult_male', 'alone']

In [ ]:
get_cat_aviones = get_features_cat_regression(df_aviones,"consumo_kg")
print(get_cat_aviones)

['Aircompany', 'Origen', 'Destino', 'avion', 'con_escala', 'Id_vuelo']